<!DOCTYPE html>
<html lang="en">

<head>
    <title>Example Email Template</title>
</head>

<body>
<div>
    <h1>This is an example email template</h1>
    <h2>Compile it with RazorEngine as demonstrated in the mailer service to insert values from the provided model</h2>
    <h2>Hi @Model.Name,</h2>
    <h2>@Model.Text</h2>
    <p>There's your email template ready to go</p>
</div>
</body>

</html>